# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.packageLock.json

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
package-lock.json


.env
src/config/local.js
# Database data (local)
pgadmin-data/
postgres-data/ 
azurecredentialcache/
storage/
sessions/

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovisionandroid/
.idea/
